---
import Container from "~/components/common/container.astro";
import Layout from "~/layouts/Layout.astro";
import { basehub } from "~/lib/basehub";
import { Image } from "astro:assets";
import { format } from "date-fns";
import { RichText } from "basehub/react-rich-text";
import Link from "~/components/common/link.astro";
import { ChevronLeft } from "lucide-react";

const {
  writings: { items: writings },
} = await basehub.query({
  writings: {
    items: {
      _slug: true,
    },
  },
});

export function getStaticPaths() {
  return writings.map(({ _slug: slug }) => ({ params: { slug } }));
}

const { slug } = Astro.params;

const {
  writings: { item: writing },
} = await basehub.query({
  writings: {
    __args: {
      filter: { _slug: { eq: slug }, status: { includes: "published" } },
    },
    item: {
      _sys: { createdAt: true },
      _title: true,
      content: { json: { content: true } },
      thumbnail: { url: true, width: true, height: true },
    },
  },
});

if (!writing) return Astro.rewrite("/404.astro");
---

<Layout
  content={{
    title: `${writing._title}`,
    description: `raw dump/thesis on "${writing._title}"`,
  }}
>
  <main>
    <Container>
      <div class="space-y-6 lg:max-w-[60%] lg:pl-4">
        <a href="/writings" class="text-muted-foreground flex items-center pt-2"
          ><ChevronLeft /> Back to writings</a
        >
        <h1 class="font-serif text-4xl italic md:text-6xl">{writing._title}</h1>
        <div class="space-y-4">
          <Image
            src={writing.thumbnail.url}
            alt={`thumbnail for ${writing._title}`}
            height={writing.thumbnail.height}
            width={writing.thumbnail.width}
            class="h-full w-full object-cover"
            loading="eager"
          />
          <div class="border-y border-dashed p-2">
            <div
              class="text-muted-foreground items-baseline-end flex justify-between"
            >
              <p class="">
                {format(writing._sys.createdAt, "dd/MM/yyyy")}
              </p>
              <p class="font-medium">advtszn</p>
            </div>
          </div>
        </div>
        <div class="richtext">
          <RichText content={writing.content.json.content} />
        </div>
        <div class="mb-6 border-y border-dashed px-4 py-6">
          <div class="flex flex-col items-center justify-center gap-y-6">
            <h3 class="font-serif text-3xl lg:text-4xl">
              Enjoyed this piece of writing?
            </h3>
            <p class="text-muted-foreground text-center">
              You should definitely subscribe my <Link
                target="_blank"
                href="https://notesfromvoid.substack.com">substack</Link
              > to get notified with more such posts
            </p>
          </div>
        </div>
      </div>
    </Container>
  </main>
</Layout>
