---
import Container from "@/components/Container.astro"
import Layout from "../layouts/Layout.astro"
import Link from "@/components/Link.astro"
---

<Layout>
	<Container>
		<div class="space-y-4 text-sm lg:text-base">
			<p class=" leading-[150%] tracking-wide">
			i'm a full-stack engineer interested in building scalable and performant web applications. i enjoy crafting minimal user-interfaces using <Link className="lg:text-base" blank={true} href="https://nextjs.org">Next.js</Link> and <Link className="lg:text-base" blank={true} href="https://typescriptlang.org/">TypeScript</Link> with robust backend using <Link className="lg:text-base" blank={true} href="https://orm.drizzle.team">DrizzleORM</Link> and <Link className="lg:text-base" blank={true} href="https://turso.tech">Turso</Link> / <Link className="lg:text-base" blank={true} href="https://neon.tech">Neon</Link>.
		</p>
		<p class=" leading-[150%] tracking-wide">
			im also keen about music, gfx and vfx. in the past i used to make AMVs to post on instagram(back in 2022), u may find some of my work on <Link className="lg:text-base" blank={true} href="">pinterest</Link>.
		</p>
		<p class=" leading-[150%] tracking-wide">
			My goal is to build products that are easy to use and have a good UX - whether that through building an app or writing code for other people (<Link className="lg:text-base" href="/chat">hmu</Link> for freelance work). 
		</p>

		<ul class="space-y-2.5 list-disc list-inside">
			<li>Building <Link className="lg:text-base" blank={true} href="https://indielettr.com">IndieLettr</Link> - empowering indie creators and small businesses to reach their audience.</li>
			<li>Cooking <Link className="lg:text-base" blank={true} href="https://lettr0.me">Lettr0</Link> - cut the crap with 0 effort email inbox management.</li>
		</ul>
		</div>
	</Container>
</Layout>