---
import "~/styles/global.css";
import "@fontsource-variable/dm-sans";
import "@fontsource/instrument-serif";
import "@fontsource/instrument-serif/400-italic.css";
import Footer from "~/components/common/footer.astro";
import Sidebar from "~/components/common/sidebar.astro";
import { ClientRouter } from "astro:transitions";
import Navbar from "~/components/common/navbar.astro";

interface Props {
  content: {
    title: string;
    description: string;
  };
}

const {
  content: { description, title },
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- metadata -->
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="777advait, advait, advait jadhav, advtxide, astroxide, advaitxide, advtx1de, multi-disciplinary, engineer, creative, ai, portfolio"
    />
    <meta name="author" content="astroxide" />

    <!-- title -->
    <title>{title}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${Astro.site}/og-image.png`} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:site_name" content="astroxide" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={`${Astro.site}/og-image.png`} />
    <meta name="twitter:creator" content="@advtxide" />

    <link rel="canonical" href={Astro.site} />
    <ClientRouter />
  </head>
  <body class="h-screen">
    <Navbar />
    <Sidebar />
    <div class="flex-1">
      <slot />
    </div>
    <Footer />
  </body>
</html>
