---
import Footer from "@/components/Footer.astro";
import Navbar from "../components/Navbar.tsx";
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { Toaster } from "@/components/ui/toaster";

const {
  title,
  description = "full-stack engineer interested in building scalable and performant web applications.",
} = Astro.props;
const url = Astro.url;
const ogImage = new URL("/og-image.png", Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:site_name" content="astro" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1004" />
    <meta property="og:image:height" content="591" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta name="twitter:image:type" content="image/png" />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />
    <meta name="twitter:image" content={ogImage} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "astro - developer, explorer."}</title>
    <link
      rel="preload"
      href="/fonts/naori.otf"
      as="font"
      type="font/otf"
      crossorigin
    />

    <ViewTransitions />
  </head>
  <body class={`max-w-[90%] mx-auto py-12 antialiased lg:max-w-[55%]`}>
    <Navbar client:only="react" />
    <slot />
    <Footer />
    <Toaster client:load />
  </body>
</html>
