---
import Container from "@/components/Container.astro";
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { Toaster } from "@/components/ui/toaster";
import Sidebar from "@/components/Sidebar";
import { Hammer } from "lucide-react";

const {
  title = "astro - generalist, explorer.",
  description = "full-stack engineer interested in building scalable and performant web applications.",
} = Astro.props;
const url = Astro.url;
const ogImage = new URL("/og-image.png", Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:site_name" content="astro" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1004" />
    <meta property="og:image:height" content="591" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta name="twitter:image:type" content="image/png" />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />
    <meta name="twitter:image" content={ogImage} />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="sitemap" href="/sitemap-0.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="preload"
      href="/fonts/Geist-Black.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Geist-Bold.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Geist-Light.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Geist-Medium.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Geist-Regular.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Geist-SemiBold.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Geist-Thin.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Geist-UltraBlack.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Geist-UltraLight.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Redaction-Bold.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Redaction-Regular.otf"
      as="font"
      type="font/otf"
      crossorigin
    />

    <ViewTransitions />
  </head>
  <body>
    <div class="flex min-h-screen">
      <Sidebar client:only="react" />
      <main class="flex-1 lg:ml-64">
        <Container>
          <slot />
        </Container>
      </main>
      <div
        class="fixed flex items-center gap-2.5 bottom-6 right-6 bg-background rounded-lg p-2 border shadow-md text-xs"
      >
        <Hammer className="w-4 h-4" /> Revamp in Progress
      </div>
    </div>
    <Toaster client:load />
  </body>
</html>
